<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>BTP Commerce de Distribution</h2>
               <p class="lid">Avec votre diplôme en BTP Commerce de Distribution, vous serez capable de :</p>
               <ul class="uld">
                  <p class="lid">Assurer la commercialisation d’un service ou un produit .</p>
                  <p class="lid">Assister au déroulement d’une étude de marché .</p>
                  <p class="lid">Manipuler  les outils de base de la gestion commerciale .</p>
                  <p class="lid">Manipuler les documents commerciaux .</p>
                  <p class="lid">Assister à l’élaboration d’une stratégie commerciale de l’entreprise .</p>
                  <p class="lid">Acquérir les notions élèmentaires de la fiscalité et de la comptabilité .</p>
                  <p class="lid">Cerner le comportement du consommateur .</p>
                  <p class="lid">Améliorer la rotation des stocks .</p>
                  <p class="lid">Exploiter un progiciel de gestion commerciale</p>

               </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/btp">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../../partials/scripte.ejs') %>
</body>
</html>