<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>BTP Comptable d'entreprise</h2>
               <p class="lid">Avec votre diplôme BTP Comptable d’Entreprise, vous serez capable de :</p>
               <ul class="uld">
                  <p class="lid">Enregistrer des écritures usuelles comptables sous le contrôle éventuel d'un expert comptable .</p>
                  <p class="lid">Participer à l'élaboration et à la communication des informations de gestion .</p>
                  <p class="lid">Participer à l'élaboration des prévisions et à la préparation des décisions .</p>
                  <p class="lid">Interpréter les documents comptables.</p>
                  </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/btp">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../../partials/scripte.ejs') %>
</body>
</html>