<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>Français: Niveau Avancé</h2>
               <ul class="uld">

                  <p class="lid">Comprendre tous les types de conversation, émissions télévisées ou radiophoniques dans des contextes professionnels et courants, quelques soient les accents des intervenants .</p>
                  <p class="lid">Lire et rédiger tout texte, même spécialisé.</p>
                  <p class="lid">Intervenir dans des conversations courantes et professionnelles, en face à face, en groupe ou au téléphone. .</p>
                  <p class="lid">Durée: 30H</p>
               </ul>
            </article>
      </div>                           
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/Langues Vivantes">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../partials/scripte.ejs') %>
</body>
</html>