<div class="" >
	<div class="">

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" name="username" [(ngModel)]="auth.email">
        <input type="password" name="pswd" placeholder="Password" required="" placeholder="Password" name="password" [(ngModel)]="auth.password">
        <button type="button" (click)="validerConnexion()">Login</button>
      </form>
    </div>
	</div>
</div>
