<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>BTS option Montage Vidéo</h2>
               <p class="lid"> Le BTS Montage, diplôme homologué BAC+2, permet à ses titulaires de :</p>
               <ul class="uld">
                  <p class="lid">Visionner les rushes du tournage et sélectionner les prises pour le montage selon les indications et les intentions artistiques du réalisateur, du journaliste, ... .</p>
                  <p class="lid">Déterminer le début et la fin d'une image, d'un plan .</p>
                  <p class="lid">Assembler des plans, images pour un produit audiovisuel .</p>
                  <p class="lid">Contrôler la qualité des dialogues enregistrés lors d'un tournage .</p>
                  <p class="lid">Réaliser un montage des sons directs .</p>
                  <p class="lid">Composer les ambiances et les effets sonores d'un produit audiovisuel .</p>
                  <p class="lid">Synchroniser les sons directs avec les images pour le montage du film.</p>

               </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/bts">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../../partials/scripte.ejs') %>
</body>
</html>