<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>BTS Développement sur Internet</h2>
               <p class="lid"> Avec votre diplôme en BTS Développement sur Internet, vous serez capable de :</p>
               <ul class="uld">
                  <p class="lid">Maîtriser les outils informatiques nécessaires à la conception, la réalisation et la gestion d'un site web professionnel .</p>
                  <p class="lid">Acquérir une vision d’ensemble opérationnelle de l’organisation de l’information .</p>
                  <p class="lid">Apprendre à analyser les besoins de l’entreprise en matière de communication .</p>
                  <p class="lid">Maîtriser les techniques de communications écrites et audiovisuelles  .</p>
                  <p class="lid">Maîtriser les outils de réalisation de différents supports de communication.</p>
                  <p class="lid">Concevoir et construire des solutions en utilisant les moyens les plus pertinents : Site web statique, site web dynamique, site marchand, newsletter, weblog.</p>
               </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/bts">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../../partials/scripte.ejs') %>
</body>
</html>