<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>BTS Informatique de Gestion</h2>
               <p class="lid">Parmi les objectifs du diplôme BTS Informatique de Gestion, nous citons :</p>
               <ul class="uld">
                  <p class="lid">Maîtriser les concepts informatiques de base .</p>
                  <p class="lid">Déterminer le traitement informatique à utiliser pour résoudre un problème précis .</p>
                  <p class="lid">Installer, configurer et dépanner un micro-ordinateur .</p>
                  <p class="lid">Installer et configurer des réseaux locaux et distants .</p>
                  <p class="lid">Gérer et maintenir le parc informatique d'une entreprise .</p>
                  <p class="lid">Concevoir et réaliser une application informatique .</p>
               </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/bts">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../../partials/scripte.ejs') %>
</body>
</html>