<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>BTP Maintenance en micro-systèmes Informatiques</h2>
               <p class="lid"> A la fin de cette formation diplômante en BTP Maintenance en Microsystèmes Informatiques, vous serez capable de :</p>
               <ul class="uld">
                  <p class="lid">Entretenir le matériel informatique par nettoyage, réglage, contrôle ....</p>
                  <p class="lid">Maîtriser les concepts électroniques et informatiques de base  .</p>
                  <p class="lid">Procéder à la remise en état d'éléments électriques, électroniques ou mécaniques défectueux .</p>
                  <p class="lid">Localiser et diagnostiquer une panne ou une anomalie .</p>
                  <p class="lid">Apprendre à gérer et administrer des réseaux locaux simples .</p>
               </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/btp">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../../partials/scripte.ejs') %>
</body>
</html>