<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../../../partials/head.ejs') %>

    <link rel="stylesheet" href="css/btsbtplang.css">
    <link rel="stylesheet" href="css/Langue.css">
    <title>Deplôme BTP</title>


</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="video/Hogwarts_Library.mp4" type="video/mp4">
     </video>
       <!-- ===============================Nav Start===================================== -->
       <%-include('../../../../partials/nav.ejs') %>
       <!-- ===============================Nav End===================================== -->
       <!-- ======================================================================================================= -->
       <div style="height: 200px;"></div>
       <!-- ========================================================================================================= -->
        <!-- Logo image -->
    
<section class="section-what-do container">
   <div class="wrapper">
      <div class="items">
         <article>
               <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
               <h2>BTP Dessinateur Projeteur en Architecture</h2>
               <p class="lid"> La formation diplômante en BTP Dessinateur Projeteur en Architecture, vous permet de :</p>
               <ul class="uld">
                  <p class="lid">Aider à réaliser des plans d’architecture .</p>
                  <p class="lid">Transformer les projets et les solutions techniques d'un futur ouvrage en dessins .</p>
                  <p class="lid">Mettre en œuvre des connaissances techniques et architecturales du bâtiment .</p>
                  <p class="lid">Appliquer des réglementations liées à la construction ou à l'espace .</p>
                  <p class="lid">Diriger, coordonner et contrôler le travail d'une équipe .</p>
                  <p class="lid">Effectuer un travail de suivi de chantier .</p>
               </ul>
            </article>
      </div>
   </div>
   <!-- ======================================================================================================= -->
   <div style="height: 50px;"></div>
   <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/btp">retourner</a>
                     </li>
                  </ul>
         
      </section>

      <!-- ======================================================================================================= -->
      <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../../../partials/scripte.ejs') %>
</body>
</html>